.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $color-bg-footer;

    &__container {
        display: flex;
        gap: 60px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include for-tablet-up {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: baseline;
        }

        @include for-desktop-up {
            gap: 70px;
        }
    }

    &_content {
        text-align: center;

        @include for-desktop-up {
            text-align: left;
        }
}

    &__logo {
        margin-bottom: 20px;
    }

  &__half-logo {
        color: $color-logo-white;
        @include transition(color);

        .logo:hover &,
        .logo:focus & {
            color: $color-accent;
        }
    }
}

.address_list {
    list-style: none;
}

.address__item:not(:last-child) {
    margin-bottom: 8px;
}

.address__location {
    font-style: normal;
    line-height: 1.71;
    color: $color-text-white;
    text-decoration: none;
}

.address__link {
    line-height: 1.71;
    color: $color-text-footer;
}