.header {
    position: relative;
    background-color: $color-bg-white;
    border-bottom: 1px solid $color-border-header;

    &__nav {
       
        display: flex;
        
        align-items: center;

        @media screen and (max-width: 767px) {
            justify-content: space-between;
        }
    }

    &__logo {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    &__half-logo {
        color: $color-logo-black;

        @include transition(color);

        .logo:hover &,
        .logo:focus & {
            color: $color-accent;
        }
    }
}
