.hero {
    max-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    text-align: center;

    background-color: $color-bg-header;
    // background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    //         rgba(47, 48, 58, 0.4)),
    //     url(../images/hero.jpg);
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;


    @media screen and (min-width: $tablet) {
        max-width: 768px;
    }
    @media screen and (min-width: $desktop) {
        max-width: 1600px;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }



    &__heading {
        max-width: 360px;
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 30px;
        margin-left: auto;
    
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;
    
        color: $color-text-white;
        text-transform: uppercase;

        @media screen and (min-width: $desktop) {
            max-width: 696px;
            font-size: 44px;
            line-height: 1.36;
        }
    }

    &__button {
        padding-top: 10px;
        padding-right: 24px;
        padding-bottom: 10px;
        padding-left: 24px;

        @media screen and (min-width: $desktop) {
            padding-left: 32px;
            padding-right: 32px;
        }

        @extend %text-main-button;

        @extend %button-style;

        @include transition(background-color);

        box-shadow: $shadow-btn-hero;

        &:hover,
        &:focus {
            background-color: $color-btn-bg-hover;
        }
    }
}

