.portfolio__heading--visually-hidden {
    @extend %visually-hidden;
}

.portfolio__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__item {
    @include for-tablet-only {
            flex-basis: calc((100% - 30px) / 2);
    }

    @include for-desktop-up {
        flex-basis: calc((100% - 60px) / 3);
    }
    background-color: $color-bg-white;
}