.portfolio__heading--visually-hidden {
    @extend %visually-hidden;
}

.portfolio__list {
    list-style: none;
}

.portfolio__item {
    width: 100%;
    background-color: $color-bg-white;
    margin-bottom: 30px;
}