.team {
    background-color: $color-bg-light-gray;

    &__heading {
        margin-bottom: 30px;
        text-align: center;

        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;

        color: $color-text-title;

        @include for-desktop-up {
            font-size: 36px;
            line-height: 1.16;
        }
    }

    &__list {
        list-style: none;

        @include for-tablet-up {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    }

    &__item {
        width: 100%;
        @include for-tablet-only {
            flex-basis: calc((100% - 30px) / 2);
        }
    
        @include for-desktop-up {
            flex-basis: calc((100% - 90px) / 4);
        }
        
        background-color: $color-bg-white;
        box-shadow: $shadow-team-item;
        border-radius: 0px 0px 4px 4px;
    }

    &__item:not(:last-child) {
        @include for-mobile-only {
            margin-bottom: 30px;
        }
    }

    &__content {
        padding-top: 30px;
        padding-bottom: 24px;
        text-align: center;
    }

    &__title {
        margin-bottom: 10px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        color: $color-text-title;
    }

    &__text {
        margin-bottom: 16px;

        font-size: 16px;
        line-height: 1.18;
    }
}
