.works {
    display: none;

    @media screen and (min-width: $desktop) {
        display: block;
    }
    
    &__heading {
        margin-bottom: 50px;
        text-align: center;

        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;

        color: $color-text-title;
    }

    &__list {
        display: flex;
        list-style: none;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__item {
        position: relative;
    }

    &__wrap {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-top: 27px;
        padding-bottom: 27px;
        background-color: $color-bg-wrap;
    }

    &__description {
        font-weight: 700;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;
        color: $color-text-white;
    }
}

