.logo {
    display: block;

    font-family: $font-logo;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;

    color: $color-accent;

    @media screen and (min-width: $desktop) {
        font-size: 26px;
        line-height: 1.19;
    }
}