.menu-container {
    width: 100%;
    display: none;
    // position: absolute;
    // top: 100%;
    // left: 0;
    // width: 100%;

    // padding: 48px 40px;
    // background-color: $color-bg-white;
    // @media screen and (max-width: 767px) {
    //     display: none;
      
    // }

    // @media screen and (min-width: $tablet) {
    //     display: flex;

        
    // }
}

.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}
