.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-y: scroll;
    
    @include transition(opacity, visibility);

    @include for-mobile-only {
        padding: 15px;
    }

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.modal {
    position: relative;
    
    padding: 40px;
    
    max-width: 450px;
    width: 100%;
    
    border-radius: 4px;
    background-color: $color-bg-white;
    box-shadow: $shadow-modal;
 
    transform: scale(1);

    @include transition(transform);
    
    @include for-mobile-only {
        margin: 0 auto;
    }

    @include for-mobile-up {
        max-height: 609px;
    }

    @include for-tablet-up {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    @include for-desktop-up {
        max-width: 528px;
        max-height: 581px;
    }

    &__icon {
        fill: currentColor;
    }

    &__button {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 8px;
        right: 8px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: $color-btn-text-black;

        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: $color-bg-white;
        border-radius: 50%;
        @include transition(color);

        &:hover {
            color: $color-accent;
        }
    }

    .backdrop.is-hidden & {
        transform: scale(1.2);

        @include for-tablet-up {
            transform: translate(-50%, -50%) scale(1.2);
        }
    }

}
