$color-accent: #2196F3;
$color-text-white: #ffffff;
$color-text-primary: #757575;
$color-text-title: #212121;
$color-text-footer: rgba(255, 255, 255, 0.6);
$color-text-modal-placeholder: rgba(117, 117, 117, 0.5);
$color-bg-white: #ffffff;
$color-bg-light-gray: #f5f4fa;
$color-bg-header: #2f303a;
$color-bg-footer: #2f303a;
$color-bg-wrap: rgba(47, 48, 58, 0.8);
$color-bg-overlay: rgba(33, 150, 243, 0.9);
$color-link-gray: #757575;
$color-link-dark-gray: #212121;
$color-link-icon-light-gray: #AFB1B8;
$color-link-bg-gray: rgba(255, 255, 255, 0.1);
$color-btn-text-dark-gray: #212121;
$color-btn-bg-hover: #188CE8;
$color-btn-bg-light-gray: #f5f4fa;
$color-btn-text-black: #000000;
$color-form-icon: #212121;
$color-logo-white: #ffffff;
$color-logo-black: #000000;
$color-border-header: #ECECEC;
$color-border-flag: #212121;
$color-border-light: #EEEEEE;
$color-border-gray: rgba(255, 255, 255, 0.3);
$color-border-dark-gray: rgba(33, 33, 33, 0.2);
$shadow-btn-hero: 0px 4px 4px rgba(0, 0, 0, 0.15);
$shadow-btn-form: 0px 4px 4px rgba(0, 0, 0, 0.15);
$shadow-team-item: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
$shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
$shadow-btn-filter: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
$shadow-project: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$font-text: 'Roboto', sans-serif;
$font-logo: 'Raleway', sans-serif;